<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ebay suite" verbose="1" >
  <test name="Regression suite" >
    <classes>
      <class name="com.test.LoginEbayApp"/>
      <class name="com.test.SearchAndPayment"/>
      <class name="com.test.Signout"/>
    </classes>
 </test>
</suite>